{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
     <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row my-3">
        <div class="col-md-2">
            <form>
                <input class="form-control mb-2" type="text" placeholder="Título...">
                <select class="form-control mb-2" style="display:inline-block;">
                    <option selected disabled>Estado...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <select class="form-control mb-2" style="display:inline-block;">
                    <option selected disabled>Prioridad...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <input class="form-control mb-2" type="text" placeholder="Creador...">
                <input class="form-control mb-2" type="text" placeholder="Asignado...">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>

        <div class="col-md-8 card-columns">
            {% for i in "xxxxxxxxxxxxxx" %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <i class="fa fa-circle" style="color:green"></i>
                            <a href="#">Reparar ordenadores</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <span class="">INC-999</span>
                            <span class="badge badge-primary">Hace 5 días</span>
                            <span class="badge badge-primary">Nuevo</span>
                        </h6>
                        <p class="card-text">Ha habido una incidencia con el ordenador 34 de l...</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-md-2">
            <p>Exportar a...</p>
            <div class="row">
                <div class="col-md-2"><a href=""><i class="fa fa-2x fa-file-csv"></i></a></div>
                <div class="col-md-2"><a href=""><i class="fa fa-2x fa-file-excel"></i></a></div>
                <div class="col-md-2"><a href=""><i class="fa fa-2x fa-file-pdf"></i></a></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}